{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>{{ book.Book_Title }} Details </h1>
    ISBN Number :  {{ book.ISBN_Number }} </br>
    Published on: {{ book.DatePublished }}</br>
    The Author is: {{ book.author }}</br>
    {{ book.Book_Title }} falls under {{ book.category }} Category </br>

    <hr />

    <a href="{% url 'books:book-update' book.pk %}">Update Book Details</a>
    <a href="{% url 'books:book-delete' book.pk %}">Delete Book</a>

    <a href="{% url 'books:book-list'%}">Go back to all available books</a>

    

       
{% endblock %}